<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.herndl.parkinsonapp"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:name="com.orm.SugarApp"
        android:label="@string/app_name"
        android:theme="@style/Theme.Custom" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MedReminderAddActivity"
            android:label="@string/title_activity_display_message" >
        	<meta-data
            	android:name="android.support.PARENT_ACTIVITY"
            	android:value="org.herndl.parkinsonapp.MainActivity" />
        </activity>
        <meta-data android:name="DATABASE" android:value="parkinson.db" />
		<meta-data android:name="VERSION" android:value="1" />
		<meta-data android:name="QUERY_LOG" android:value="true" />
		<meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="org.herndl.parkinson" />
    </application>
</manifest>
